
/* GENERIC BUTTON ICONS */

/*
.close-button {
  -fx-content-display: graphic-only;
  -fx-graphic-text-gap: 0;
  -fx-label-padding: 0;
}
*/

.label.close-button > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-close";
    /* -fx-icon-size: 24px; */
    /* -fx-background-color: lightgrey; */
}
.label.close-button:hover > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-close-box";
    -fx-icon-color: gray;
}

/* MAIN MENU ICONS */

#main-menu-bar #file-menu #new-file > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-plus";
}

#main-menu-bar #file-menu #open-file > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder-open";
}

#main-menu-bar #file-menu #close-file > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-remove";
}

#main-menu-bar #file-menu #save-file > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-content-save";
}

#main-menu-bar #file-menu #save-as > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-content-save-edit";
}

#main-menu-bar #file-menu #preferences > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-cog";
}

#main-menu-bar #file-menu #quit > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2c-close-box";
}

/* TEST MENU ICONS */

#test-menu .open-in-main > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2o-open-in-app";
}

#test-menu .open-in-new > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2o-open-in-new";
}

#test-menu #new-explorer > * > .ikonli-font-icon {
    -fx-icon-code: "mdi2f-file-tree";
}
